
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-align: left;
    text-transform: uppercase;
}


p {
  margin-right: 10%;
  display:inline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

legend {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

select{
    margin-left: 10px;
    display: inline-block;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"]{
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

input[type="time"]{
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

textarea{
    width: 50%;
    padding: 5px;
    margin-left: 20px;
    margin-top: -20px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px; /* Ajusta el espacio interno de cada celda */
    text-align: left; /* Alinea el texto a la izquierda */
}

button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#button-back {
    background-color: #ff0000;
    color: #fff;
    margin-right: 10px;
}

.datos_socioeconomicos{
        background-color: #e4ffdf;
        -webkit-print-color-adjust: exact;
    }
.datos_generales{
    background: #fcffdf;
    -webkit-print-color-adjust: exact;
}



.button-add {
    background-color: #007bff;
    color: #fff;
    float: right;
}

.button-mod {
    background-color: #28a745;
    color: #fff;
    float: right;
}

form {
    display: inline-block;
}

.excel{
    background-color: #28a745;
    color: #fff;
}

.printbutton{
    background-color: #007bff;
    color: #fff;
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button-add:hover {
    background-color: #0056b3;
}

.action-button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.consult-button {
    background-color: #007bff; /* Azul */
    color: #fff;
}

.modify-button {
    background-color: #ffc107; /* Amarillo */
    color: #000;
}

        .port-container {
            display: flex;
            align-items: center;
        }

        .port-info {
            flex-grow: 1;
        }

        .action-buttons {
            display: flex;
        }

        .action-button {
            margin-left: 5px;
        }

.field-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
.field-container label,
.field-container input,
.field-container select,
.field-container button {
    margin-right: 10px;
}
.field-container input[type="time"] {
    margin-right: 0;
}
.delete-button {
    background-color: #ff0000;
    color: #fff;
    margin-left: 10px;
}
@media print {

    body {
        font-size: 10pt;
    }

    .printbutton,
    .button-add,
    .button-mod,
    #button-back,
    nav ul li a,
    .excel {
        display: none;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }
    fieldset {
        margin-bottom: 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        -webkit-print-color-adjust: exact;
    }
    .datos_generales{
        background: #fcffdf;
         -webkit-print-color-adjust: exact;
    }
    .datos_socioeconomicos{
        background-color: #e4ffdf;
         -webkit-print-color-adjust: exact;
    }

}