<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUERTOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Menú Principal Puertos</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('add_port') }}">Añadir Puerto</a></li>
                <li><a href="{{ url_for('consult_port') }}">Consultar Puerto</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
